@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=ubuntu:wght@400;500;700&display=swap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    position:fixed;
    width: 100%;
    z-index: 9999;
    transition: all 0.3s ease;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar.sticky{
    background-color: #1b1b47;
    background-image: linear-gradient(to right bottom, rgb(3, 23, 43), #1b1b47);
    z-index: 9999;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    padding: 13.5px;
    justify-content: space-between;

}
.navbar .logo{
    color:black;
    font-size: 45px;
    font-weight: 900;
    margin-left: 6%;
}
.navbar .logo span{
    background: -webkit-linear-gradient( #00b7ff,rgb(25, 0, 255) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar .logo a{
    background: -webkit-linear-gradient( rgb(25, 0, 255), #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease;
}
.navbar.sticky .logo a{
    background: -webkit-linear-gradient( rgb(107, 91, 255), #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease;
}
.navbar.sticky .logo span{
    background: -webkit-linear-gradient( #5dd1ff,rgb(83, 76, 141) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar.sticky:hover .logo span{
    background: -webkit-linear-gradient( #c0ff2d,rgb(139, 89, 255) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar:hover .logo span{
    background: -webkit-linear-gradient( #010224,rgb(80, 4, 255) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    margin-left: 25px;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.4s ease;
}
.navbar .menu li a:hover{
    padding: 10px 20px;
    background-color: #1b1b47;
    box-sizing: border-box;
    border-radius: 6px;
}
.navbar.sticky .menu li a{
    display: block;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    margin-left: 25px;
    padding: 10px 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}
.navbar.sticky .menu li a:hover{
    padding: 10px 20px;
    background-color: #ffffff;
    box-sizing: border-box;
     color: #1b1b47; 
    border-radius: 6px;
    
}
/* .navbar .menu .mode{
    color: black;
    font-size: 21px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
} */

/* menu btn style */
.menu-btn{
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/* home style */

.home{
    display: flex;
    background: url(images/background10.jpg) no-repeat fixed center;
    background-size: 100%;
    background-position-y: 0;
    height: 100vh;
    color: rgb(255, 255, 255);
    min-height: 50px;
    background-color: rgb(26, 25, 25);
    transition: color 0.3s ease;
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 27px;
    font-weight: 1000;
    padding-bottom: 10px;
}

.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
    font-size: 72px;
    display: flex;
    /* font-family: ubuntu,sans-serif; */
}
.typed-cursor {
    margin-right:10px;
}

.home .home-content .text-2 .dipankar{
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
/* dipankar animation start */
@keyframes dipankarBounce {
    0%{
        opacity: .25;
        transform: translateY(-200%);
    }
    40%{
        transform: translateY(0);
    }
    55%{
        transform: translateY(-12px) rotate(30deg);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        transform: translateY(-6px) rotate(-15deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.dipankar1,
.dipankar2,
.dipankar3,
.dipankar4,
.dipankar5,
.dipankar6,
.dipankar7,
.dipankar8{
    opacity: 0;
    animation: dipankarBounce .5s  forwards;
    background: -webkit-linear-gradient( rgb(25, 0, 255), #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dipankar2{
    animation-delay: 0.2s;
}
.dipankar3{
    animation-delay: 0.4s;
}
.dipankar4{
    animation-delay: 0.6s;
}
.dipankar5{
    animation-delay: 0.8s;
}
.dipankar6{
    animation-delay: 1s;
}
.dipankar7{
    animation-delay: 1.2s;
}
.dipankar8{
    animation-delay: 1.4s;
}

/* dipankar animation end  */
.dipankar8{
    margin-right: 2%;
}
.bala1,
.bala2,
.bala3,
.bala4{
    background: -webkit-linear-gradient( rgb(25, 0, 255), #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .4s ease-in-out ;
}
.text-2:hover .dipankar1,
.text-2:hover .dipankar2,
.text-2:hover .dipankar3,
.text-2:hover .dipankar4,
.text-2:hover .dipankar5,
.text-2:hover .dipankar6,
.text-2:hover .dipankar7,
.text-2:hover .dipankar8,
.text-2:hover .bala1,
.text-2:hover .bala2,
.text-2:hover .bala3,
.text-2:hover .bala4{
    background: -webkit-linear-gradient( #59d0ff,rgb(25, 0, 255) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* bala animation start  */
 @keyframes balaBounce{
    0%{
        opacity: .25;
        transform: translateY(-200%);
    }
    40%{
        transform: translateY(0);
    }
    55%{
        transform: translateY(-12px) rotate(30deg);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        transform: translateY(-6px) rotate(-15deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.bala1,
.bala2,
.bala3,
.bala4{
    opacity: 0;
    animation:balaBounce .5s forwards;
}
.bala2{
    animation-delay: 0.5s;
}
.bala3{
    animation-delay: 1s;
}
.bala4{
    animation-delay: 1.5s;
}
/* bala animation end  */
.home .home-content .text-3{
    font-size: 27px;
    font-weight: 650;
    margin-left: -3px;
    padding-top: 5px;
}
.home .home-content .text-3 span a{
    font-size: 36px;
    font-weight: 650;
    margin-left: -3px;
    padding-top: 0px;
    cursor: pointer;
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.3s ease;
}
.home .home-content .text-3 span a:hover{
    background-image: linear-gradient(to right,  #f70606,#009fdb, #009fdb,#f70606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .home-content .text-4{
    font-size: 27px;
    font-weight: 650;
    margin-left: -3px;
}
.home .home-content .contact-me a{
    display: inline-block;
    background-color: #009fdb;
    color: white;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 27px;
    font-weight: 500;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    box-shadow: 0 6px 25px 0 rgba(49, 196, 190, 0.75);
    transition: color 0s ease-in-out;
}
.home .home-content .contact-me a:hover{
    background-position: 100% 0;
}
.home .home-content .contact-me a:active {
    background-image: linear-gradient(to right, #009fdb, #ffffff);
    color: #1a1a1a;
}

/* home page responsive  */

@media (max-width:1650px){
    .home{
    height: 100vh;
    min-height: 45px;
}
}
@media (max-width:1550px){
    .home{
    height: 99.5vh;
    min-height: 45px;
}
}
@media (max-width:1500px){
    .home{
    height: 99vh;
    min-height: 45px;
}
}
@media (max-width:1400px){
    .home{
    height: 98vh;
    min-height: 45px;
}
}
@media (max-width:1390px){
    .home{
    height: 100vh;
    min-height: 45px;
    background-color: white;
}
.home .home-content .text-1{
    font-size: 26px;
    font-weight: 550;
    /* margin-top: 25px; */
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 800;
}
.home .home-content .text-3{
    font-size: 26px;
    font-weight: 550;
}
.home .home-content .text-3 span a{
    font-size: 30px;
    font-weight: 650;
}
.home .home-content .text-4{
    font-size: 26px;
    font-weight: 550;
}
.home .home-content .contact-me a{
    padding: 12px 23px;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 500;
}
.navbar .logo{
    font-size: 39px;
    font-weight: 850;
}
.navbar .max-width{
    padding: 15px;
}
}
@media (max-width:1360px){
    .home{
    height: 90vh;
    min-height: 45px;
}
}
@media (max-width:1350px){
    .home{
    height: 90vh;
    min-height: 45px;
}
}
@media (max-width:1300px){
    .home{
    height: 85vh;
    min-height: 45px;
}
}
@media (max-width:1200px){
    .home{
    height: 76vh;
    min-height: 40px;
}
.home .home-content .text-1{
    font-size: 26px;
    font-weight: 550;
    /* margin-top: 25px; */
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 800;
}
.home .home-content .text-3{
    font-size: 26px;
    font-weight: 550;
}
.home .home-content .text-3 span a{
    font-size: 30px;
    font-weight: 650;
}
.home .home-content .text-4{
    font-size: 26px;
    font-weight: 550;
}
.home .home-content .contact-me a{
    padding: 12px 23px;
    margin-top: 60px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
}
.navbar .logo{
    font-size: 39px;
    font-weight: 850;
}
.navbar .max-width{
    padding: 15px;
}
}
@media (max-width:1100px){
    .home{
    height: 70vh;
    min-height: 35px;
}
.home .home-content .text-1{
    margin-top: 35px;
}
.navbar .menu li a,
.navbar.sticky .menu li a{
    font-size: 21px;
    font-weight: 550;
    margin-left: 10px;
    padding: 10px 20px;
}
}
@media (max-width:1000px){
    .home{
    height: 62vh;
    min-height: 30px;
}
.home .home-content .text-1{
    font-size: 21px;
    font-weight: 500;
    /* margin-top: 25px; */
}
.home .home-content .text-2{
    font-size: 45px;
    font-weight: 800;
}
.home .home-content .text-3{
    font-size: 21px;
    font-weight: 500;
}
.home .home-content .text-3 span a{
    font-size: 24px;
    font-weight: 550;
}
.home .home-content .text-4{
    font-size: 21px;
    font-weight: 500;
}
.home .home-content .contact-me a{
    padding: 11px 23px;
    margin-top: 30px;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 550;
}
.navbar .logo{
    font-size: 32px;
    font-weight: 800;
}
.navbar .max-width{
    padding: 12px;
}
}
@media (max-width:900px){
    .home{
    height: 55vh;
}
.home .home-content .text-1{
    /* font-size: 18px;
    font-weight: 450; */
    margin-top: 35px;
}
}
@media (max-width:800px){
    .home{
    height: 52vh;
    margin-top: 0;
}
.home .home-content .text-1{
    font-size: 18px;
    font-weight: 450;
    /* margin-top: 25px; */
}
.home .home-content .text-2{
    font-size: 28px;
    font-weight: 750;
}
.home .home-content .text-3{
    font-size: 18px;
    font-weight: 450;
}
.home .home-content .text-3 span a{
    font-size: 21px;
    font-weight: 550;
}
.home .home-content .text-4{
    font-size: 18px;
    font-weight: 450;
}
.home .home-content .contact-me a{
    padding: 11px 19px;
    margin-top: 12px;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
}
.navbar .logo{
    font-size: 25px;
    font-weight: 750;
}
.navbar .max-width{
    padding: 0;
}
}
@media (max-width:770px){
    .home{
    height: 42vh;
}
.home .home-content .text-1{
    /* font-size: 17px;
    font-weight: 400; */
    margin-top: 40px;
}
}
@media (max-width:610px){
    .home{
    height: 31vh;
}
.home .home-content .text-1{
    font-size: 16px;
    font-weight: 400;
    margin-top: 45px;
}
.home .home-content .contact-me a{
    display: none;
}
}
@media (max-width:500px){
    .home{
    height: 28vh;  
}
.home .home-content .text-1{
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
}
.home .home-content .text-2{
    font-size: 22px;
    font-weight: 700;
}
.home .home-content .text-3{
    font-size: 16px;
    font-weight: 400;
}
.home .home-content .text-3 span a{
    font-size: 18px;
    font-weight: 450;
}
.home .home-content .text-4{
    font-size: 16px;
    font-weight: 400;
}
.home .home-content .contact-me a{
    display: none;
    /* padding: 10px 17px;
    margin-top: 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #009fdb; */
}
.navbar .logo{
    font-size: 23px;
    font-weight: 700;
}
.navbar .max-width{
    padding: 0;
}
}
@media (max-width:443px){
    .home{
    height: 23vh;
    
}
}
@media (max-width:395px){
    .home{
    height: 22vh;
    
}
.home .home-content .text-1{
    font-size: 14px;
    font-weight: 400;
    margin-top: 35px;
}
.home .home-content .text-2{
    font-size: 20px;
    font-weight: 700;
}
.home .home-content .text-3{
    font-size: 13px;
    font-weight: 400;
}
.home .home-content .text-3 span a{
    font-size: 16px;
    font-weight: 450;
}
.home .home-content .text-4{
    font-size: 13px;
    font-weight: 400;
}
.home .home-content .contact-me a{
    display: none;
    /* padding: 8px 15px;
    margin-top: 12px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid #009fdb; */
}
.navbar .logo{
    font-size: 19px;
    font-weight: 700;
}
.navbar .max-width{
    padding: 0;
}
}
@media (max-width:332px){
    .home{
    height: 20vh;
    background-size: cover;
    
}
}

/* about styling */
.about-container{
    max-width:100%;
    background: url(images/aboutback.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 60px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 30%;
  }
.main-content{
    width: 37%;
    float:left;
    margin-left: -30px;
    margin-right: auto;
    margin-top: 20px;
}
.about-img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
/* slideshow styling  */
.slide{
    /* width: 100%; */
    position: relative;
}
.slide img{
    display: block;
}
.slide-text{
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to right,rgba(247,6,6,0.3)  ,rgba(0,159,219, 0.3), rgba(0,159,219, 0.3),rgba(247,6,6,0.3));
    color: #fff;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    box-sizing: border-box;
}
.slide-text h3{
    margin: 0;
    font-size: 19px;
}
.cycle-prev,
.cycle-next{
    position: absolute;
    top: 30%;
    background-color: rgba(0,0,0,.45);
    color: #fff;
    padding: 10px 10px;
    display: block;
    cursor: pointer;
    z-index:1000;
    opacity: 0;
    transition:opacity .5s;
}
.cycle-next{
right: 0;
}
.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next{
    opacity: 1;
}
.cycle-slideshow{
    transition: opacity .5s;
}
/* .cycle-slideshow:hover{
    opacity: 0.85;
} */
.cycle-pager{
    position: absolute;
    top: 20px;
    z-index: 1000;
    width: 100%;
    text-align: center;
}
.cycle-pager span{
    text-indent: -9999px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 4px;
    cursor: pointer;
} 
.cycle-pager .cycle-pager-active{
    background-color: #000;
}
/* slideshow end  */
.sidebar{
    width: 63%;
    float: right;
    margin-top: 60px;
} 
.sidebar .sidebar-intro{
    font-size: 33px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
}
.sidebar .sidebar-intro span{
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sidebar p{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    text-align:justify;
    
}
.sidebar a{
    display: inline-block;
    background-color: #009fdb;
    color: white;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 500;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    box-shadow: 0 6px 25px 0 rgba(49, 196, 190, 0.75);
    transition: color 0s ease-in-out;
}
.sidebar a:hover{
    background-position: 100% 0;
}
.sidebar a:active{
    background-image: linear-gradient(to right, #009fdb, #ffffff);
    color: #1a1a1a;
}
/* clearfix method  */ 
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}



/* about responsive  */
@media (max-width:1100px){
    .about-container{
        padding-top: 35px;
        padding-bottom: 40px;

    }
    .about-content-area .main-content{
        margin: 0 auto 15px;
    }
    .sidebar .sidebar-intro {
        font-size: 30px;
    }
    .sidebar p {
        padding-top: 18px;
        font-size: 17px;
        font-weight: 400;
   
}
.slide-text h3{
    font-size: 15px;
}
.slide-text{
    padding: 18px;
    font-size: 14px;
}
}
@media (max-width:1000px){
    .about-container{
        padding-top: 35px;
        padding-bottom: 40px;

    }
    .about-content-area .main-content{
        margin: 0 auto 15px;
    }
    .sidebar .sidebar-intro {
        font-size: 30px;
        font-weight: 550;
    }
    .sidebar p {
        padding-top: 18px;
        font-size: 17px;
        font-weight: 400;
    }
    .slide-text h3{
        font-size: 14px;
    }
    .slide-text{
        padding: 17px;
        font-size: 13px;
    }
}
@media (max-width:900px){

}
@media (max-width:800px){
    .about-container{
        padding-top: 30px;
        padding-bottom: 40px;

    }
    .about-content-area .main-content{
        margin: 0 auto 10px;
    }
    .sidebar .sidebar-intro {
        font-size: 27px;
        font-weight: 550;
    }
    .sidebar p {
        padding-top: 18px;
        font-size: 17px;
        font-weight: 400;
    }
}
@media (max-width:770px){
    .about-container{
        padding-top: 25px;
        padding-bottom: 35px;

    }
    .about-content-area .main-content{
        margin: 0 auto 10px;
    }
    .sidebar .sidebar-intro {
        font-size: 24px;
        font-weight: 550;
    }
    .sidebar p {
        padding-top: 15px;
        font-size: 14px;
        font-weight: 400;
    }
}
@media (max-width:610px){
    .about-container{
        padding-top: 20px;
        padding-bottom: 30px;

    }
    .about-content-area .main-content{
        margin: 0 auto 10px;
    }
    .sidebar .sidebar-intro {
        font-size: 24px;
        font-weight: 550;
    }
    .sidebar p {
        padding-top: 15px;
        font-size: 14px;
        font-weight: 400;
    }
}
@media (max-width:500px){
    .about-container{
        padding-top: 20px;
        padding-bottom: 30px;

    }
    .about-content-area .main-content{
        margin: 0 auto 10px;
    }
    .sidebar .sidebar-intro {
        font-size: 24px;
        font-weight: 550;
    }
    .sidebar p {
        padding-top: 15px;
        font-size: 14px;
        font-weight: 400;
    }

}
@media (max-width:443px){

}
@media (max-width:395px){

}
@media (max-width:332px){

}



/* project start  */
.project{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    padding-top: 50px;
    background-image: linear-gradient(to right bottom, rgb(3, 15, 26), #36366b);
    color: white;
}
.project-header p{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    padding-top: 100px;
    background-size: 100% 100%;
    background-image: linear-gradient(to right, #ffffff , #7374be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: ubuntu,sans-serif;
}

.project-content{
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-bottom: 100px;
}
.project-content{
    display:flex;
}
.project-content .swe-oj,
.project-content .pharmacy,
.project-content .share-file{
    width: 30%;
    float:left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(214, 214, 214);
    color: black;
    padding: 80px 40px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.project-content .swe-oj:hover,
.project-content .pharmacy:hover,
.project-content .share-file:hover{
    transform: scale(1.05);
    background-color: #009fdb;
    color: #ffffff;
}
.project-content .col span{
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
}
.project-content .col:hover span{
    background-image: linear-gradient(to right, #ebebeb ,#ebebeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-content .col p{
    padding-top: 15px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
}
/* project end  */

/* project responsive  */
@media (max-width:1390px){
    .project {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .project-header p {
        font-size: 48px;
        font-weight: 650;
        padding-top: 80px;
    }
    .project-content{
        margin-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width:1350px){
    .project {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .project-header p {
        font-size: 45px;
        font-weight: 650;
        padding-top: 80px;
    }
    .project-content{
        margin-top: 70px;
        padding-bottom: 70px;
    }

}
@media (max-width:1200px){
    .project {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .project-header p {
        font-size: 39px;
        font-weight: 650;
        padding-top: 80px;
    }
    .project-content{
        margin-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width:1000px){
    .project {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .project-header p {
        font-size: 32px;
        font-weight: 600;
        padding-top: 75px;
    }
    .project-content{
        margin-top: 70px;
        padding-bottom: 60px;
    }
}

@media (max-width:800px){
    .project {
        padding-bottom: 30px;
        padding-top: 20px;
    }
    .project-header p {
        font-size: 29px;
        font-weight: 600;
        padding-top: 70px;
    }
    .project-content{
        margin-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width:770px){
    .project {
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .project-header p {
        font-size: 27px;
        font-weight: 600;
        padding-top: 60px;
    }
    .project-content{
        margin-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width:500px){
    .project {
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .project-header p {
        font-size: 27px;
        font-weight: 600;
        padding-top: 60px;
    }
    .project-content{
        margin-top: 60px;
        padding-bottom: 60px;
    }
}




/* skill styling  */
.skill-container{
    background: url(images/skilback2.png) no-repeat center;
    background-size: cover;
    color: rgb(37, 37, 37);
}
.skill-main-content{
    width: 50%;
    float:left;
    margin-left: -30px;
    margin-right: auto;
    padding-top: 70px;
    font-family: Poppins,sans-serif;
}
.skill-content-area{
    padding-bottom: 100px;
}
.skill-content-area .main-content-intro{
    font-size: 36px;
    font-weight: 600;
    margin-top: 100px;
    font-family: ubuntu,sans-serif;
}
.skill-content-area .main-content-intro span{
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-main-content p{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    text-align:justify;
    
}
.skill-main-content .more-text{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins,sans-serif;
    text-align:justify;
}
.skill-main-content .toggle-btn{
    display: inline-block;
    background-color: #009fdb;
    color: white;
    padding: 8px 18px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
    box-shadow: 0 6px 25px 0 rgba(49, 196, 190, 0.75);
    transition: color 0s ease-in-out;
}
.skill-main-content .toggle-btn:hover{
    background-position: 100% 0;

}
.skill-main-content .toggle-btn:active {
    background-image: linear-gradient(to right, #009fdb, #ffffff);
    color: #1a1a1a;
}
.toggle-btn {display: none;}
.toggle-btn-visible {display: block;}
.toggle-target-hidden {display: none;}
.toggle-target-expanded {display: block;}

.skill-main-content a:hover{
    background-color: transparent;
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
}
.skill-header{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    padding-top: 70px;
    background-image: linear-gradient(to right, #4e4e4e, #0087f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: ubuntu,sans-serif;
}


/* skills right  */
.skill-right{
    width: 50%;
    float:right;
    text-align: left;
    box-sizing: border-box;
    padding: 25px;
    padding-top: 40px;
    margin-left: -30px;
    margin-right: auto;
    margin-top: 100px;
 }
.group-skill:before,
.group-skill:after {
    content: "";
    display: table;
}
.group-skill:after {
    clear: both;
}
.group-skill {
    zoom: 1;
}

.technical-skills{
     padding-left: 10px;
 }
 .technical-skills h3{
     font-size: 30px;
     line-height: 30px;
     text-align: center;
     font-weight: 400;
     margin-bottom: 10px;
     font-family: ubuntu,sans-serif;
 }
 .technical-progress li{
     display: inline-block;
     margin: 0 auto;
     float: none;
     width: 48%;
     margin-bottom: 10%;
     box-sizing: border-box;
     text-align: center;
     }
     .mh-progress{
         margin-bottom: 10px;
     }
    .mh-progress.mh-progress-circle{
        display: inline-block;
        position: relative;
        font-size: 24px;
        width: 100px;
        height: 100px;
    }
    .pr-skill-name{
        color: #000;
        font-size: 21px;
    }
    .mh-progress path:nth-child(1){
        stroke: #ffffff;
    }
    .mh-progress path:nth-child(2){
        stroke: #009fdb !important;
    }
    .technical-skills h3{
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        padding-bottom: 40px;
        font-family: Poppins,sans-serif;
    }
    /* skill end  */
    /* skill responsive  */
    @media (max-width:1100px){
        .skill-header {
            font-size: 45px;
            font-weight: 750;
            padding-top: 70px;
        }
        .skill-content-area .main-content-intro {
            font-size: 36px;
            font-weight: 650;
        }
        .technical-skills h3 {
            font-size: 36px;
            font-weight: 650;
            margin-top: 35px;
        }
        .mh-progress.mh-progress-circle {
            font-size: 18px;
        }
        .pr-skill-name {
            font-size: 18px;
        }
    }
    @media (max-width:941px){
        .skill-header {
            font-size: 39px;
            font-weight: 700;
            padding-top: 70px;
        }
        .skill-content-area .main-content-intro {
            font-size: 33px;
            font-weight: 600;
            margin-top:10px;
        }
        .skill-main-content p {
            font-size: 17px;
            font-weight: 400;
        }
        .skill-main-content .toggle-btn {
            margin-left: 60px;
            align-self: center;
            margin-top: 10px;
            font-size: 17px;
        }
        .skill-main-content .more-text {
            margin-left: 60px;
            padding-top: 20px;
            font-size: 17px;
            font-weight: 400;
        }
        .skill-right {
            margin-top: 0px;
        }
        .technical-skills h3 {
            font-size: 33px;
            font-weight: 550;
            margin-bottom: 50px;
        }
        .mh-progress.mh-progress-circle {
            font-size: 17px;
        }
        .pr-skill-name {
            color: #000;
            font-size: 17px;
        }
        .skill-content-area {
            padding-bottom: 25px;
        }

    }
    @media (max-width:900px){
            .skill-header {
            font-size: 36px;
            font-weight: 650;
            padding-top: 65px;
        }
        .skill-content-area .main-content-intro {
            font-size: 29px;
            font-weight: 600;
            margin-top:10px;
        }
        .skill-main-content p {
            font-size: 17px;
            font-weight: 400;
        }
        .skill-main-content .toggle-btn {
            margin-left: 60px;
            align-self: center;
            margin-top: 10px;
            font-size: 17px;
        }
        .skill-main-content .more-text {
            margin-left: 60px;
            padding-top: 20px;
            font-size: 17px;
            font-weight: 400;
        }
        .skill-right {
            margin-top: 0px;
        }
        .technical-skills h3 {
            font-size: 30px;
            font-weight: 550;
        }
        .mh-progress.mh-progress-circle {
            font-size: 17px;
        }
        .pr-skill-name {
            color: #000;
            font-size: 17px;
        }
        .skill-content-area {
            padding-bottom: 25px;
        }
    }
    @media (max-width:770px){
        .skill-header {
            font-size: 33px;
            font-weight: 650;
            padding-top: 65px;
        }
        .skill-content-area .main-content-intro {
            font-size: 27px;
            font-weight: 600;
            margin-top:10px;
        }
        .skill-main-content p {
            font-size: 17px;
            font-weight: 400;
        }
        .skill-main-content .toggle-btn {
            margin-left: 60px;
            align-self: center;
            margin-top: 10px;
            font-size: 16px;
        }
        .skill-main-content .more-text {
            margin-left: 60px;
            padding-top: 20px;
            font-size: 17px;
            font-weight: 400;
        }
        .skill-right {
            margin-top: 0px;
        }
        .technical-skills h3 {
            font-size: 28px;
            font-weight: 550;
        }
        .mh-progress.mh-progress-circle {
            font-size: 17px;
        }
        .pr-skill-name {
            color: #000;
            font-size: 16px;
        }
        .skill-content-area {
            padding-bottom: 20px;
        }
    }
    @media (max-width:610px){
        .skill-header {
            font-size: 30px;
            font-weight: 600;
            padding-top: 60px;
        }
        .skill-content-area .main-content-intro {
            font-size: 24px;
            font-weight: 550;
            margin-top:10px;
        }
        .skill-main-content p {
            padding-top: 20px;
            font-size: 16px;
            font-weight: 400;
        }
        .skill-main-content .toggle-btn {
            margin-left: 60px;
            align-self: center;
            margin-top: 10px;
            font-size: 18px;
        }
        .skill-main-content .more-text {
            margin-left: 60px;
            padding-top: 20px;
            font-size: 16px;
            font-weight: 400;
        }
        .skill-right {
            margin-top: 0px;
        }
        .technical-skills h3 {
            font-size: 28px;
            font-weight: 550;
        }
        .mh-progress.mh-progress-circle {
            font-size: 17px;
        }
        .pr-skill-name {
            color: #000;
            font-size: 16px;
        }
        .skill-content-area {
            padding-bottom: 20px;
        }
    }
    @media (max-width:500px){
        .skill-header {
            font-size: 27px;
            font-weight: 600;
            padding-top: 60px;
        }
        .skill-content-area .main-content-intro {
            font-size: 21px;
            font-weight: 550;
            margin-top:10px;
        }
        .skill-main-content p {
            padding-top: 20px;
            font-size: 14px;
            font-weight: 400;
        }
        .skill-main-content .toggle-btn {
            margin-left: 60px;
            align-self: center;
            margin-top: 10px;
            font-size: 18px;
        }
        .skill-main-content .more-text {
            margin-left: 60px;
            padding-top: 20px;
            font-size: 14px;
            font-weight: 400;
        }
        .skill-right {
            margin-top: 0px;
        }
        .technical-skills h3 {
            font-size: 24px;
            font-weight: 550;
        }
        .mh-progress.mh-progress-circle {
            font-size: 16px;
        }
        .pr-skill-name {
            color: #000;
            font-size: 14px;
        }
        .skill-content-area {
            padding-bottom: 20px;
        }
    }

    /* contact */
    .contact-container{
        padding-bottom: 700px;
        background-color: rgb(221, 221, 221);
     }
     
     .max-width{
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         padding: 0 70px;
     }
      .contact-left span{
         font-size: 24px;
         font-weight: 550;
         color: rgb(53, 53, 53);
         font-family: poppins,sans-serif;
     } 
     .contact-header .head{
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        padding-top: 70px;
        background-image: linear-gradient(to right, #747474, #0087f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: ubuntu,sans-serif;
     }
     .contact-left{
         width: 45%;
         float: left;
         margin-top: 100px;
     }
     .contact-left .p2{
         padding-top:20px ;
         font-size: 18px;
         font-weight: 450;
         font-family: poppins,sans-serif;
         text-align: justify;
     }
     .middle-left{
         display: flex;
         flex-direction: column;
         width: 45%;
         float: left;
     }
     .middle-right{
         display: flex;
         flex-direction: column;
         width: 53%;
         float: right;
     }
     .row{
         padding: 10px;
         
     }
     .row .inner-left{
         width: 15%;
         float: left;
         margin-top: 20px;
     }
     .row .inner-right{
         width: 85%;
         float: left;
         margin-top: 20px;
     }
     .row .inner-right .text-1{
         font-size: 18px;
         font-weight: 600;
         margin-bottom: 0px;
         text-align: left;
         color: #000000;
     }
     .row .inner-right .text-2{
         font-size: 16px;
         font-weight: 400;
         text-align: left;
         color: #1a1a1a;
     }


     /*contact right */
     .contact-right{
         width: 50%;
         float: right;
         margin-top: 130px;
     }
     .contact-right p{
         font-size: 24px;
         font-weight: 550;
         color: rgb(53, 53, 53);
         font-family: poppins,sans-serif;
     }
     .contact-right .name{
         width: 48%;
         border: 1px solid lightgrey;
         border-radius: 6px;
         outline: none;
         padding: 5px 5px 5px 15px;
         margin:10px 10px 10px 0;
         font-size: 16px;
         font-family: poppins,sans-serif;
         transition: all 0.3s ease;
     }
     .contact-right .name:hover{
         border: 1px solid #0091db;
     }
     .contact-right .email{
         width: 47%;
         float: right;
         border: 1px solid lightgrey;
         border-radius: 6px;
         outline: none;
         padding: 5px 5px 5px 15px;
         margin:10px 10px 10px 0;
         font-size: 16px;
         font-family: poppins,sans-serif;
         transition: all 0.3s ease;
     }
     .contact-right .email:hover{
         border: 1px solid #0091db;
     }
     .contact-right .subject{
         width: 98%;
         border: 1px solid lightgrey;
         border-radius: 6px;
         outline: none;
         padding: 5px 5px 5px 15px;
         margin:10px 10px 10px 0;
         font-size: 16px;
         font-family: poppins,sans-serif;
         transition: all 0.3s ease;
     }
     .contact-right .subject:hover{
         border: 1px solid #0091db;
     }
     .contact-right .message{
         width: 98%;
         border: 1px solid lightgrey;
         border-radius: 6px;
         outline: none;
         padding: 5px 5px 100px 15px;
         margin:10px 10px 10px 0;
         font-size: 16px;
         font-family: poppins,sans-serif;
         transition: all 0.3s ease;
     }
     .contact-right .message:hover{
         border: 1px solid #0091db;
     }
     
     .contact-right .submit{
         display: inline-block;
         background-color: #009fdb;
         color: white;
         padding: 10px 25px;
         margin-top: 10px;
         border-radius: 50px;
         font-size: 18px;
         font-weight: 400;
         background-size: 300% 100%;
         background-image: linear-gradient(to right, #009fdb, #f70606, #f70606, #009fdb);
         box-shadow: 0 6px 25px 0 rgba(49, 196, 190, 0.75);
         transition: color 0s ease-in-out;
     }
     .contact-right .submit:hover{
        background-position: 100% 0;
     }
     .contact-right .submit:active {
        background-image: linear-gradient(to right, #009fdb, #ffffff);
        color: #1a1a1a;
    }
    
     /* contact end  */
     /* contact responsive  */
     @media (max-width:1195px){
        .contact-header .head {
            font-size: 36px;
            font-weight: 650;
            padding-top: 80px;
        }
        .contact-left {
            margin-top: 70px;
        }
        .contact-right p {
            margin-top: -80px;
        }
        .contact-container {
            padding-bottom: 40px;
        }
    }
    @media (max-width:941px){
        .contact-header .head {
            font-size: 36px;
            font-weight: 650;
            padding-top: 80px;
        }
        .contact-left {
            margin-top: 70px;
        }
        .contact-right p {
            margin-top: -80px;
        }
        .contact-container {
            padding-bottom: 40px;
        }
    }
    @media (max-width:900px){
        .contact-header .head {
            font-size: 36px;
            font-weight: 650;
            padding-top: 80px;
        }
        .contact-left {
            margin-top: 70px;
        }
        .contact-left span {
            font-size: 24px;
        }
        .contact-left .p2 {
            font-size: 17px;
            font-weight: 400;
        }
        .row .inner-right .text-1 {
            font-size: 18px;
            font-weight: 600;
        }
        .row .inner-right .text-2 {
            font-size: 16px;
            font-weight: 400;
        }
        .contact-right p {
            font-size: 24px;
            font-weight: 550;
            margin-top: -80px;
        }
        .contact-right .name,
        .contact-right .email,
        .contact-right .subject,
        .contact-right .message {
            font-size: 17px;
            margin-bottom: 10px;
        }
        .contact-right .submit {
            padding: 8px 18px;
            margin-top: 8px;
            font-size: 17px;
            font-weight: 450;
        }
        .contact-container {
            padding-bottom: 40px;
        }
    }
    @media (max-width:770px){
        .contact-header .head {
            font-size: 35px;
            font-weight: 650;
            padding-top: 75px;
        }
        .contact-left {
            margin-top: 70px;
        }
        .contact-left span {
            font-size: 24px;
        }
        .contact-left .p2 {
            padding-top: 0;
            font-size: 17px;
            font-weight: 400;
        }
        .row .inner-right .text-1 {
            font-size: 18px;
            font-weight: 600;
        }
        .row .inner-right .text-2 {
            font-size: 16px;
            font-weight: 400;
        }
        .contact-right p {
            font-size: 24px;
            font-weight: 550;
            margin-top: -80px;
        }
        .contact-right .name,
        .contact-right .email,
        .contact-right .subject,
        .contact-right .message {
            font-size: 17px;
            margin-bottom: 10px;
        }
        .contact-right .submit {
            padding: 7px 15px;
            margin-top: 5px;
            font-size: 16px;
            font-weight: 400;
        }
        .contact-container {
            padding-bottom: 30px;
        }
    }
    @media (max-width:610px){
        .contact-header .head {
            font-size: 30px;
            font-weight: 600;
            padding-top: 70px;
        }
        .contact-left {
            margin-top: 70px;
        }
        .contact-left span {
            font-size: 21px;
        }
        .contact-left .p2 {
            padding-top: 0;
            font-size: 16px;
            font-weight: 400;
        }
        .row .inner-right .text-1 {
            font-size: 18px;
            font-weight: 600;
        }
        .row .inner-right .text-2 {
            font-size: 16px;
            font-weight: 400;
        }
        .contact-right p {
            font-size: 21px;
            font-weight: 550;
            margin-top: -90px;
        }
        .contact-right .name,
        .contact-right .email,
        .contact-right .subject,
        .contact-right .message {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .contact-right .submit {
            padding: 7px 15px;
            margin-top: 5px;
            font-size: 16px;
            font-weight: 400;
        }
        .contact-container {
            padding-bottom: 30px;
        }
    }
    @media (max-width:500px){
        .contact-header .head {
            font-size: 27px;
            font-weight: 600;
            padding-top: 70px;
        }
        .contact-left {
            margin-top: 70px;
        }
        .contact-left span {
            font-size: 18px;
        }
        .contact-left .p2 {
            padding-top: 0;
            font-size: 14px;
            font-weight: 400;
        }
        .row .inner-right .text-1 {
            font-size: 16px;
            font-weight: 600;
        }
        .row .inner-right .text-2 {
            font-size: 14px;
            font-weight: 400;
        }
        .contact-right p {
            font-size: 18px;
            font-weight: 550;
            margin-top: -90px;
        }
        .contact-right .name,
        .contact-right .email,
        .contact-right .subject,
        .contact-right .message {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .contact-right .submit {
            padding: 7px 15px;
            margin-top: 5px;
            font-size: 14px;
            font-weight: 400;
        }
        .contact-container {
            padding-bottom: 30px;
        }
    }
     /* footer styling start  */

     footer{
        background-image: linear-gradient(to right bottom, rgb(3, 23, 43), #1b1b47);
         color: blanchedalmond;
         padding: 40px ;
     }
     footer div{
        font-size: 21px;
        text-align: center;
     }
     footer div span{
         font-size: 24px;
         color: white;
     }
    .footer .logo{
        color: white;
        font-size: 150%;
        font-weight: 160;
        font-size: 24px;
        font-weight: 700;
    }
    
    .footer .logo span{
        color: #009fdb;
    }
    .footer .logo{
        color: rgb(255, 255, 255);
        transition: color 0.3s ease;
    }
    footer:hover .logo,
    .footer .logo:hover{
        color: rgb(255, 0, 0);
    }

    .footer .content .copy{
    color: white;
    font-size: 150%;
    font-weight: 160;
    font-size: 24px;
    font-weight: 700;
    }
    /* footer styling snd  */
    /* footer responsive  */
    @media (max-width:770px){
        footer {
            padding: 30px;
        }
        footer div {
            font-size: 18px;
        }
        .footer .logo,
        footer div span{
            font-size: 21px;
        }
        .footer .content .copy {
            font-size: 19px;
            font-weight: 400;
        }
    }
    @media (max-width:610px){
        footer {
            padding: 25px;
        }
        footer div {
            font-size: 17px;
        }
        .footer .logo,
        footer div span{
            font-size: 19px;
        }
        .footer .content .copy {
            font-size: 19px;
            font-weight: 400;
        }
    }
    @media (max-width:500px){
        footer {
            padding: 20px;
        }
        footer div {
            font-size: 16px;
        }
        .footer .logo,
        footer div span{
            font-size: 19px;
        }
        .footer .content .copy {
            font-size: 18px;
            font-weight: 400;
        }
    }


/* responsive media */
@media (max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    
    }
}
@media (max-width:1104px){
.about-img{
    height: 350px;
    width: 290px;
}
}
@media (max-width:941px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width:941px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        margin:13.5px;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .max-width{
        padding-bottom: 0%;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgba(37, 37, 37, 0.8);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease ;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 21px;
    }
    .navbar.sticky .menu li{
        display: block;
    }
    .navbar.sticky .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 21px;
    }
    .max-width{
        max-width: 800px;
    }
    .about-container .about-content-area .main-content{
        width: 100%;
    }
    .about-container .about-content-area .sidebar{
        width: 100%;
    }
    .about-container .about-content-area .sidebar{
        flex: 100%;
    }
    .about-content-area .main-content{
        display: flex;
        justify-content: center;
    }
    .sidebar a{
        margin-top: 20px;
        padding: 7px 21px;
        font-size: 17px;
        font-weight: 400; 
    }
    .max-width{
        max-width: 800px;
    }
    .project-content{
        flex-direction: column;
    }
    .project-content .col{
        width: 100%;
    }
    .max-width{
        max-width: 800px;
    }
    .skill-content-area{
        flex-direction: column;
    }
    .skill-main-content{
        width: 100%;
    }
    .skill-right{
        width: 100%;
    }
    .skill-main-content{
        flex-direction: column;
    }
    .skill-content-area .main-content-intro {
        padding-left: 60px;
    }
    .skill-main-content p{
        width: 100%;
        padding-left: 60px;
    }

}


@media (max-width:1195px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-left{
        width: 100%;
    }
    .contact-right{
        width: 100%;
   }
}


@media (max-width:690px){
    .max-width{
        padding: 0 23px;
    }
    .project-content{
        flex-direction: column;
    }
    .project-content .col{
        width: 100%;
    }
    .middle-left{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .middle-right{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width:550px){
    .contact-right .email{
        width: 98%;
        float: left;
    }
    .contact-right .name{
        width: 98%;
    }
    .technical-progress li{
        text-align: center;
        }
}